<h1><%= @vendor["data"]["attributes"]["name"] %></h1>
<p>Contact Name: <%= @vendor["data"]["attributes"]["contact_name"] %></p>
<p>Contact Phone: <%= @vendor["data"]["attributes"]["contact_phone"] %></p>
<p>Accepts Credit: <%= @vendor["data"]["attributes"]["credit_accepted"] ? "Yes" : "No" %></p>
<p>Description: <%= @vendor["data"]["attributes"]["description"] %></p>
